*{
	box-sizing: border-box;
}
:root{
	--color1: #D89584;
	--color2: #f4f4f4;
}
body {
	margin: 0;
	font-family: Arial;
	line-height: 1.5;
}
iframe{
	width: 100%;
	border: none;
	height: 350px;
}
div.cover {
	background: url(./RESOURCES/cover_overlay.png) no-repeat center/100% 100%,url(./RESOURCES/cover.jpg) no-repeat center/cover;
	height: 360px;
	position: relative;
}
img.cover_profile {
	height: 150px;
	width: 150px; /* Ajoutez également une largeur pour garantir un carré */
	object-fit: cover; /* Ajout de cette propriété pour gérer le format de l'image */
	position: relative;
	left: 50%;
	margin-left: -75px; /* La moitié de la hauteur pour centrer horizontalement */
	margin-top: 50px;
	border-radius: 50%;
  }
h1 {
	text-align: center;
	color: white;
	font-size: 42px;
	margin-top: 10px;
	margin-bottom: 0px;
}
div.cover p {
	color: lightgray;
	text-align: center;
	margin-top: 5px;
}
div.cover_contact {
	/* background-color: #FF000080; */
	position: absolute;
	top: 10px;
	left: 10px;
	border-left: 4px solid var(--color1);
	padding-left: 8px;
}
div.cover_contact p{
	text-align: left;
	margin-top: 0px;
	margin-bottom: 0px
	
}
div.cover_contact p:first-child{
	margin-bottom: 14px;
}
div.cover_contact *{
	color: white;
	font-size: 14px;
}
a.contact_button {
	color: #D89584;
	border: 3px solid var(--color1);
	padding: 8px 20px;
	text-decoration: none;
	background-color: #00000040;
	display: inline-block;
	margin-top: -12px;
	font-size: 15px;
}
/* SPAN */

/* span:nth-child(1) {
	transform: rotate(0deg);
  }
  
  span:nth-child(2) {
	transform: rotate(90deg);
  }
  
  span:nth-child(3) {
	transform: rotate(180deg);
  }
  
  span:nth-child(4) {
	transform: rotate(270deg);
  }
  
  span:after {
	content: "";
	position: absolute;
	width: 100%;
	height: 4px;
	background: black;
	animation: animate 4s linear infinite;
  }

  @keyframes animate {
	0% {
	  transform: scaleX(0);
	  transform-origin: left;
	}
	50% {
	  transform: scaleX(1);
	  transform-origin: left;
	}
	/* 51.5% {
			transform: scaleX(1);
			transform-origin: right;
		  } */
  
	/* 100% {
	  transform: scaleX(0);
	  transform-origin: right;
	}
  } */ */
/* SPAN */
a.contact_button_portfolio{
	position: absolute;
	right: 20px;
	top: 5px;
}
a.contact_button:hover {
	color: white;
	border: 3px solid white;
}
.section{
	padding-left: 40px;
	padding-right: 40px;
	padding-top: 30px;
	padding-bottom: 30px;
	overflow: auto;
}
.section img{
	width: 45%;
	height: auto;
	border-radius: 7px;
	box-shadow: 0 0 0 5px rgba(0, 0, 0, .25);
}
div.section_grise1 {
	background:url("RESOURCES/triangle2white.svg") no-repeat center bottom/100%;
	background-color: var(--color2);
	height: 200px;
	padding-top: 30px;
	padding-bottom: 80px;
}
div.sectionsection_grise2 {
	background:url("RESOURCES/triangle1white.svg") no-repeat center top/100%;
	background-color: var(--color2);
	height: 200px;
	padding-top: 30px;
	padding-top: 80px;
}
h2{
	text-align: center;
	font-size: 34px;
	margin-top: 0px;
}
div.separateur {
	background-color: #979797;
	height: 1px;
	width: 150px;
	position: relative;
	left: 50%;
	margin-left: -75px;
}
div.section-grise1 p{
	font-size: 22px;
	color: #656565;
	text-align: center;
}

.col40{
	width: 40%;
}
.col60{
	width: 60%;
}
.float-right{
	float: right;
	width: 48%;
	
}
div.texte-avec-ligne-verticale{
	margin-top: 0;
	
	/* border-left: 4px solid var(--color1); */

}
div.texte-avec-ligne-verticale{
	margin-top: 0;
	border-left: 4px solid var(--color1);
	padding-left: 8px;
	height: 50px;
	display: inline-block;
}
div.texte-avec-ligne-verticale p{
	margin-top: 0;
	text-align: justify;
	margin: 0 auto;
}
div.barre-verticale{
	height: 50px;
	width: 4px;
	background-color: var(--color1);
	margin-right: 8px;
}
.col-portfolio{
	width: 47%;
}
div.frame{
	margin: 30px 50px;
	padding: 20px 30;
	background-color: white;
	box-shadow: 0px 0px 8px 8px rgb(0, 0, 0, 0.1);
}
p.frame_title{
	font-size: 30px;
	margin-top: 5px;
	margin-bottom: 20px;
	text-align: center;
}
div.frame img{
	width: 100px;
}
.display-mobile{
	display: none;
}
/* PORTEFOLIO */
.portfolio-header {
    height: 90px;
    background: url(RESOURCES/header.jpg) no-repeat center/cover;
    position: relative;
}
.portfolio-header-title {
    font-size: 26px;
    font-weight: bold;
    color: white;
    padding-top: 4px;
    padding-left: 8px;
}

h1.portfolio {
    font-size: 46px;
    color: black;
    line-height: 1;
    padding-top: 10px;
}

h2.portfolio {
    font-size: 26px;
    color: black;
    font-weight: normal;
    margin-bottom: 0;
}

a.portfolio-back {
    color: var(--color1);
    margin-left: 10px;
}

img.portfolio {
    width: 70%;
    max-width: 475px;
}

/* RESPONSIVE DESIGNE MOBILE  */
@media only screen and (max-width: 767px) {
    img.cover_profile {
        height: 150px;
        width: 150px; /* Assure que l'image est carrée */
        object-fit: cover; /* Permet de recadrer l'image pour remplir son conteneur */
        position: relative;
        left: 50%;
        margin-left: -75px; /* Centre l'image horizontalement */
        margin-top: 50px;
        border-radius: 50%; /* Rend l'image circulaire */
    }
h1 {
	font-size: 38px;
	margin-top: 6px;
	margin-bottom: 0px;
}
div.cover p {
	font-size: 13px;
	margin-top: 2px;
}
div.cover_contact {
	/* background-color: #FF000080; */
	position: absolute;
	top: 10px;
	left: 10px;
	border-left: 4px solid var(--color1);
	padding-left: 8px;
}
div.cover_contact p{
	text-align: left;
	margin-top: 0px;
	margin-bottom: 0px
	
}
.section{
	padding-left: 20px;
	padding-right: 20px;
	
}
div.section_grise1 {
	padding-bottom: 40px;
}
h2{
	font-size: 30px;
}
img.col-contenu{
	width: 100%;
}
div.col-contenu{
	width: 100%;
	padding-left: 0px;
	margin-top: 20px;
}
.col-portfolio{
	width: 100%;
	margin-bottom: 20px;
}
div.frame{
	margin: 0px 0px;
	padding: 0px 0px;
	box-shadow:none;
}
div.frame img{
	width: 70px;
}
/* PORTFOLIO - MOBILE  */
.portfolio-header-title{
	font-size: 19px;
	padding-left: 4px;
	padding-top: 10px;
}
a.contact_button {

	padding: 7px 12px;
	margin-top: 22px;
	font-size: 12px;
}
a.contact_button_portfolio{
	right: 12px;

}
h1.portfolio {
    font-size: 40px;
}

h2.portfolio {
    font-size: 22px;
}
img.portfolio {
    width: 100%;
    max-width: 550px;
}
.display-mobile{
	display: block;
}

}
